db.sqlite3

.DS_Store

.venv/
.venv/*

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.env.dev
.env.prod
.env.proddocker
.env
.env.*
!.env.example

.agents/skills/testing/*

test_media/*

deploy/certbot/conf/
deploy/certbot/www/
